header {
  width: 800px;
  height: 250px;
  background: no-repeat center/100%
    url("http://stayathome-syllabus.greenfox.academy/week01/assets/first-website-header.png");
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  font-family: "Abril Fatface", cursive;
}
#name {
  padding-left: 145px;
  padding-bottom: 12px;
  list-style-type: none;
}
#name1 {
  font-size: 25px;
}
#name2 {
  font-size: 50px;
  line-height: 90%;
}

main {
  width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

section {
  font-family: "Josefin Sans", sans-serif;
  font-color: #222;
  line-height: 120%;
}

blockquote {
  width: 600px;
  background-color: #222;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: -50px;
  position: relative;
}

.quote {
  font-family: "Abril Fatface", cursive;
  font-size: 34px;
  color: white;
  text-align: left;
  padding-left: 50px;
}

.quote::before {
  content: "“";
  color: white;
  font-size: 120px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -30px;
}

h3 {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}
h4 {
  margin-bottom: 0px;
}
h5 {
  margin-top: 0px;
  font-style: italic;
}
.small {
  font-size: 12px;
}
.line {
  width: 570px;
  height: 3px;
  background-color: #222;
  margin-left: -50px;
}